<div class="row">
    <div class="col-6 contenedor-formulario">
        <%= form_with(model: [:admin, producto]) do |f| %>

            <div class="mb-3">    
                <%= f.label :nombre, class: 'form-label' %>
                <%= f.text_field :nombre, class: 'form-control' %>
                <% if producto.errors[:nombre].any? %>
                    <div style="color: red;">
                        <%= producto.errors[:nombre].first %>
                    </div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= f.label :precio, class: 'form-label' %>
                <%= f.text_field :precio, class: 'form-control' %>
                <% if producto.errors[:precio].any? %>
                    <div style="color: red;">
                        <%= producto.errors[:precio].first %>
                    </div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= f.label :descripcion, class: 'form-label' %>
                <%= f.text_field :descripcion, class: 'form-control' %>
                <% if producto.errors[:descripcion].any? %>
                    <div style="color: red;">
                        <%= producto.errors[:descripcion].first %>
                    </div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= f.label :cantidad, class: 'form-label' %>
                <%= f.text_field :cantidad, class: 'form-control' %>
                <% if producto.errors[:cantidad].any? %>
                    <div style="color: red;">
                        <%= producto.errors[:cantidad].first %>
                    </div>
                <% end %>
            </div>

            <!-- Select de categorías -->
            <div class="mb-3">
                <%= f.label :categoria_id, class: 'form-label' %>
                <% if producto.categoria %>
                    <%= f.select(:categoria_id,
                        options_from_collection_for_select(categorias, :id, :categoria, producto.categoria_id),
                        {include_blank: 'Elige una categoria'},
                        {class: 'form-select'}) %>
                <% else %>
                    <%= f.select(:categoria_id,
                        options_from_collection_for_select(categorias, :id, :categoria),
                        {include_blank: 'Elige una categoria'},
                        {class: 'form-select'}) %>
                <% end %>
                
                <% if producto.errors[:categoria_id].any? %>
                    <div style="color: red;">
                        <%= producto.errors[:categoria_id].first %>
                    </div>
                <% end %>
            </div> 

            <!-- Estado  -->
            <div class="form-switch mb-3" style="padding-left: 0">
                <%= f.label :estados_producto_id, "Estado", class: 'form-label' %>                
                <% if producto.estados_producto %> <!-- El estado existe? -->
                    <!-- Editar un producto -->
                    <% if producto.estados_producto.estado.eql? 'activo' %>                  
                        <%= f.check_box :estados_producto_id, class: 'form-check-input', checked: true, style: 'display:block; margin-left: 0;' %>
                    <% else %>                    
                        <%= f.check_box :estados_producto_id, class: 'form-check-input', style: 'display:block;margin-left: 0;'%>
                    <% end %>
                <% else %> <!-- Crear un producto -->
                    <%= f.check_box :estados_producto_id, class: 'form-check-input', checked: true, style: 'display:block; margin-left: 0;' %>
                <% end %>
            </div>
            
            <% if producto.imagenes.attached? %>
                <%= render 'lista_fotos', producto: producto %>
            <% end %>

            <div class="mb-3">
                <%= f.label :imagenes, class: 'form-label' %>
                <%= f.file_field :imagenes, multiple: true, class: 'form-control', accept: '.jpg, .png, .jpeg' %>
                <% if producto.errors[:imagenes].any? %>
                    <div style="color: red;">
                        <%= producto.errors[:imagenes].first %>
                    </div>
                <% end %>
            </div>
            
            <%= f.submit class: 'btn btn-primary' do %>

            <% end %>
            
        <% end %>

    </div>
</div>