<div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">
    
        <!-- nuevo 🌟 -->
        <div class="card w-75 m-auto">
            <div class="row justify-content-center">
                <% @producto.imagenes.each do |imagen| %>
                    <div class="<%= @columnas %>">
                            <%= image_tag imagen, class: 'card-img-top' %>
                            <% "productos/:id/imagenes/#{imagen.id}" %>
                    </div>
                <% end %>
            </div> <!-- Imágenes 📷 -->

            <div class="card-body">
                <p> Fotos: <%= @producto.imagenes.count %>/4 

                    <% if @producto.estados_producto.estado.eql? 'activo' %>
                        <span class="badge rounded-pill bg-success">Activo</span>
                    <% else %>
                        <span class="badge rounded-pill bg-secondary">Inactivo</span>
                    <% end %>
                    
                </p>
                <h5 class="card-title"> <%= @producto.nombre %> </h5>
                <p class="card-text">
                    <%= @producto.descripcion %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= @producto.precio %> CLP</li>
                <li class="list-group-item"><%= @producto.cantidad %> diponibles</li>
            </ul>

            <div class="card-body">
                <%= link_to 'Editar', admin_editar_producto_path(@producto), class: 'btn btn-warning' %>
            </div>
        </div>

    </div>
</div>