<div class="row">
    <div class="col-10">
        <h2>
            AGREGAR PRODUCTOS AL PEDIDO <%= @pedido.codigo %> 📦
        </h2>    
    </div>
    <div class="col-2 text-end">
        <%= link_to "Cancelar", admin_editar_pedido_path(@pedido), class: 'btn btn-secondary' %>
    </div>
</div>

<div class="row justify-content-start">
        <% @todos_los_productos.each do |producto| %>
            <div class="col-lg-3 col-10 mt-3">
                <div class="card">
                <%= image_tag producto.imagenes.first, class: 'card-img-top' %>
                    <div class="card-body">
                        <h5 class="card-title"><%= producto.nombre %></h5>
                        <%= producto.precio.to_s[0..-3] %> CLP
                    </div>
                    <%= link_to 'Agregar al pedido', admin_guardar_producto_pedido_path(@pedido, producto), class: 'btn btn-primary', method: :post, remote: true %>
                </div>
            </div>    
        <% end %>
</div>