<div class="row">
    <div class="col-10">
        <h2>
            PEDIDO <%= @pedido.codigo %> 📦
        </h2>    
    </div>
    <div class="col-2 text-end">
        <%= link_to "Editar", admin_editar_pedido_path(@pedido), class: 'btn btn-success' %>
    </div>
</div>


<div class="row mt-2">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            <%= @pedido.estados_pedido.estado %>
        </div>
    </div>
</div>    

<div class="row mt-1">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Datos envío
                </h4>
                <!-- DATOS DE ENVÍO -->
                <div class="row">
                    <div class="col-12">
                        Nombre: <%= @pedido.datos_envio.nombre %>            
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Correo: <%= @pedido.datos_envio.correo %>            
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Teléfono: <%= @pedido.datos_envio.telefono %>            
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Dirección: <%= @pedido.datos_envio.direccion %>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Ciudad: <%= @pedido.destino.nombre %>                
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row justify-content-end">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <strong>
                                TOTAL:
                            </strong>
                        </h6>
                        <p>
                            <%= @pedido.total %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<div class="card mt-3">
    <div class="card-body">
        <h4 class="card-title">
            Productos
        </h4>
        <div class="row  text-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <strong>
                            Imágen
                        </strong>
                    </div>
                    <div class="col">
                        <strong>
                            Nombre
                        </strong>
                    </div>
                    <div class="col">
                        <strong>
                            Precio
                        </strong>
                    </div>
                    <div class="col">
                        <strong>
                            Cantidad
                        </strong>
                    </div>
                </div>
                <% @pedido.detalles_pedidos.each do |detalle| %>
                    <div class="row mt-5">
                        <div class="col-2">
                            <%= image_tag detalle.producto.imagenes.first, class: 'w-100' %>                
                        </div>
                        <div class="col">
                            <%= detalle.producto.nombre %>                
                        </div>
                        <div class="col">
                            <%= detalle.producto.precio %>                
                        </div>
                        <div class="col">
                            <%= detalle.cantidad %>                
                        </div>
                    </div>
                <% end %>
                <!-- MOSTRAR LOS PRODUCTOS -->
            </div>
        </div>
</div>
