<div class="row">
    <div class="col-6 contenedor-formulario">
        <%= form_with(model: [:admin, destino]) do |f| %>

            <div class="mb-3">    
                <%= f.label :nombre, class: 'form-label' %>
                <%= f.text_field :nombre, class: 'form-control' %>
                <% if destino.errors[:nombre].any? %>
                    <div style="color: red;">
                        <%= destino.errors[:nombre].first %>
                    </div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= f.label :region_id, class: 'form-label' %>
                <% if destino.region %>
                    <%= f.select(:region_id,
                        options_from_collection_for_select(regiones, :id, :nombre, destino.region_id),
                        {include_blank: 'Elige una region'},
                        {class: 'form-select'}) %>
                <% else %>
                    <%= f.select(:region_id,
                        options_from_collection_for_select(regiones, :id, :nombre),
                        {include_blank: 'Elige una region'},
                        {class: 'form-select'}) %>
                <% end %>
                
                <% if destino.errors[:region_id].any? %>
                    <div style="color: red;">
                        <%= destino.errors[:region_id].first %>
                    </div>
                <% end %>
            </div>
            
            <%= f.submit class: 'btn btn-primary' do %>

            <% end %>
            
        <% end %>

    </div>
</div>