<h1>Productos registrados</h1>

<%= link_to 'Nuevo producto', nuevo_producto_path %>

<table class="table">
    <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Categoría</th>
        <th>Acciones</th>
    </tr>
    <% @productos.each do |producto| %>
        <tr>
            <td>
                <% if producto.imagenes.attached? %>
                    <%= link_to producto_path(producto) do %>
                        <%= image_tag producto.imagenes.first, style: 'width: 100%' %>
                    <% end %>
                <% else %>
                    No hay fotos registradas
                <% end %>
            </td>

            <td>
                <%= link_to producto.nombre, producto_path(producto) %>
            </td>
            <td><%= producto.precio %></td>
            <td><%= producto.cantidad %></td>
            <td><%= producto.categoria.categoria %></td>
            <td>

            </td>
        </tr>
    <% end %>
</table>