<nav id="navegacion" class="navbar navbar-expand-lg bg-secondary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="bi bi-shop"></i>
            Carrito
        </a>
        <button class="navbar-toggler boton-navbar-hamburguesa" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon icono-navbar-hamburguesa"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <i class="bi bi-house-door"></i>
                        Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/carrito">
                        <i class="bi bi-cart-fill"></i>
                        Carrito <span class="badge bg-danger"><%= @carro.carros_contenidos.map{ |p| p.cantidad }.sum %> </span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    
                    <% if usuario_ha_iniciado_sesion? %>

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= @usuario_actual.nombre %>
                        </a><!-- Opción para mostrar el formulario ⏬ -->
                        <div class="dropdown-menu bg-secondary p-3" style="border: none;">
                            <%= link_to 'Cerrar sesión', cerrar_sesion_path, class: 'btn btn-warning', method: :delete, data: { confirm: 'está seguro de cerrar sesión?'} %>
                        </div>

                    <% else %>                   

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Iniciar sesión
                        </a><!-- Opción para mostrar el formulario ⏬ -->

                        <div class="dropdown-menu">
                            <%= form_with(url: iniciar_sesion_path, class: 'p-4') do |formulario| %>
                                <div class="mb-3">
                                    <%= formulario.label :correo, class: 'form-label' %>
                                    <%= formulario.text_field :correo, class: 'form-control', placeholder: 'nombre@ejemplo.com' %>
                                </div>
                                <div class="mb-3">
                                    <%= formulario.label :password, class: 'form-label' %>
                                    <%= formulario.password_field :password, class: 'form-control' %>
                                </div>

                                <%= formulario.submit 'Iniciar sesión', class: 'btn' %>
                            <% end %>
                        </div>

                    <% end %>

                </li>
            </ul>
        </div>
        
    </div>
</nav>